<!DOCTYPE html>
<html style="font-size: 16px;" lang="de">
<head>
    <!--<script data-ad-client="ca-pub-2200940370816454" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>!-->
    <link rel="icon" href="http://yanwittmann.de/schule/favicon.png" type="image/ico"/>
    <link rel="shortcut icon" href="http://yanwittmann.de/schule/favicon.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>IT Abi BaWü</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="mainpage.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "itzusammenfassung",
        "url": "index.html",
        "logo": "images/itabiicon.png"
    }</script>
    <meta property="og:title" content="Hauptseite">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-6c75">
    <div class="u-clearfix u-sheet u-sheet-1">
    </div>
</header>

<button class="sideBarBurgerIcon"
        onclick="toggleDropDownVisibility();this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
        aria-label="Main Menu">
    <svg width="36" height="36" viewBox="0 0 100 100">
        <path class="line line1"
              d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
        <path class="line line2" d="M 20,50 H 80"/>
        <path class="line line3"
              d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
    </svg>
</button>
<section class="sidenav">
    <br><br style="margin: 2em; display: block; font-size: 24%;">
    BUILDER-PLACE-SIDEBAR
</section>

<section class="u-clearfix u-section-1" id="sec-0ae8">
    <div class="u-clearfix u-sheet u-sheet-1" style="margin-bottom: -30px;">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout" style="">
                <div class="u-layout-row" style="">
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div style="opacity: 0.0;" class="u-align-left u-palette-4-base u-shape u-shape-1"></div>
                            <img src="images/itabiiconmain.png"
                                 class="u-align-left u-image u-image-1" data-image-width="1200" data-image-height="675">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h2 class="u-text u-text-1">IT Abi Zusammenfassungen</h2>
                            <p class="u-text u-text-2">Einfach schneller Antworten finden.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-align-left u-clearfix u-section-3" id="sec-8614">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" style="margin-bottom: -60px;">
        BUILDER-PLACE-CONTENTS
    </div>
    <br><br>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }

    </script>
</section>

<section class="u-align-left u-clearfix u-section-3" id="sec-8615">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        Suche nach einer Seite:
        <br style="display: block; margin: 5px 0;">
        <div class="gradient-border"><input id="searchbar" onkeyup="searchPage()" type="text" name="search" placeholder="Such nach was!"></div>
        <ol id='searchList'>
            BUILDER-PLACE-SEARCH-LIST
        </ol>
        <br style="display: block; margin: 5px 0;">
    </div>

    <script src="search.js"></script>
</section>

<center>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Normal Ads -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2200940370816454"
         data-ad-slot="3642828352"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</center><br>

<section class="u-align-left u-clearfix u-grey-5 u-section-2" id="sec-34c4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Was ist das hier alles?</h2>
        <p class="u-text u-text-2">
            Diese Website ist eine Ansammlung an so gut wie allem, was man für das Abitur im Fach IT Baden Württemberg
            braucht.
            Während unserer Schulzeit sind die ganzen einzelnen Themen für viele von uns nicht ganz einfach gewesen.
            Darum haben wir uns entschlossen, es für die nachfolgenden Klassen einfacher zu machen, indem wir das Wissen
            so kompakt und einfach wie möglich an einer Stelle sammeln.<br><br>
            Natürlich ist die Seite nicht perfekt: An einigen Stellen wird bereits Wissen vorausgesetzt und nicht alles
            ist komplett, der Großteil ist es aber.
            Willst du uns dabei helfen, die Seite besser zu machen?
            <a class="link" href="mailto:mail@yanwittmann.de?subject=IT%20Abitur%20Zusammenfassungen&body=Danke%20f%C3%BCr%20dein%20Interesse!%20Bitte%20beschreibe%20hier%20kurz%20dein%20Anliegen%3A%0D%0A%0D%0A">
                Hilf mit!</a>
        </p>
        <h2 class="u-text u-text-1">Wer sind wir?</h2>
        <p class="u-text u-text-2">
            "Wir" sind <a class="link" href="http://yanwittmann.de"><b>Yan Wittmann</b></a> und <b>Luca Kirsch</b>! Wir sind
            ehemalige Schüler von des technischen Gymnasiums <a class="link" href="https://www.cbs-heidelberg.de/">Carl-Bosch-Schule</a> in Heidelberg und haben beide unser Abitur
            in IT geschrieben. Zur Vorbereitung haben wir eine 70 Seiten lange Zusammenfassung geschrieben, die nun dank
            dieser Website digitalisiert wurde. Die Zusammenfassung wurde zudem sinnvoll ergänzt und es wurden zu vielen
            Themen Aufgaben bereitgestellt. Benutze das Menü oben und entdecke alle BUILDER-PLACE-AMOUNT-PAGES
            Seiten!<br><br>
            <img style="-webkit-filter: drop-shadow(5px 5px 5px #999999); filter: drop-shadow(5px 5px 5px #999999);"
                 src="images/yangifsmall.gif"><br>- Yan Wittmann
        </p>
        <p class="u-text u-text-2">
            <br><b>Warum ist dort eine Werbung?</b> <sup>ich weiß, mich nerven Werbungen auch.</sup><br>
            Diese Website zu erstellen hat sehr lange gedauert. Wir hoffen also natürlich, dass du darum
            keinen Ad-Blocker verwendest, wenn du auf dieser Seite bist. Denn dies ist unsere einzige Möglichkeit
            hierfür etwas zurückzubekommen. Außer natürlich, du willst uns einen
            <a class="link" href="https://www.paypal.com/paypalme/yanwittmann">Kaffee kaufen</a>, worüber wir
            natürlich sehr dankbar wären.<br>
        </p>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-025f">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
            Zusammenfassungen bereitgestellt von <a href="http://yanwittmann.de"><b>Yan Wittmann</b></a> und <b>Luca
            Kirsch</b>.<br>
            Diese Website zu erstellen hat viel Zeit gekostet. Möchtest du uns einen <a
                href="https://www.paypal.com/paypalme/yanwittmann">Kaffee kaufen?</a><br><br>
            Einen Fehler gefunden oder du willst dabei helfen, die Seite besser zu machen?
            <a href="mailto:mail@yanwittmann.de?subject=IT%20Abitur%20Zusammenfassungen&body=Danke%20f%C3%BCr%20dein%20Interesse!%20Bitte%20beschreibe%20hier%20kurz%20dein%20Anliegen%3A%0D%0A%0D%0A">
                Hilf mit!</a><br><br>
            <a href="http://yanwittmann.de/impressum/privacypolicy.html">Privacy Policy</a><br><br>
            View my code on<br><a href="https://github.com/Skyball2000/it-abitur-zusammenfassung">
            <img width="26" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-512.png"/></a>
        </p>
    </div>
</footer>
</body>
</html>